@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        line-height: 100%;
    }
}

@layer utilities {
    .scrollbars {
        overflow: auto;
    }

    .scrollbars::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    /* Track */
    .scrollbars::-webkit-scrollbar-track {
        background: #d2d2d6;
        border-radius: 4px;
    }

    /* Handle */
    .scrollbars::-webkit-scrollbar-thumb {
        background: #70a9ff;
        border-radius: 4px;
    }

    /* Handle on hover */
    .scrollbars::-webkit-scrollbar-thumb:hover {
        background: #70a9ff;
        cursor: pointer;
    }
}